@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mako&display=swap');



.wrapper {
    padding: 12px 0 30px;
}


body {
    background-color: #212121;
}

.container {
    max-width: 748px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}


.subheading {
    font-family: 'Oxanium', sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 139%;

    color: #FFFFFF;
}

.text {
    font-family: 'Mako', sans-serif;
    line-height: 150%;
    color: #FFFFFF;

}

.header {
    padding: 0 0 13px;
}



.page {}

.page__computers {
    background: #333333;
    padding: 40px 0 40px;
}

.page__pc {
    padding: 40px 0;
}

.page__ram {
    padding: 40px 0 35px;
}



.header__logo {
    font-family: 'Oxanium', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    background-image: url(./../img/arrow.svg);
    background-repeat: no-repeat;
    background-position-x: 86px;
    background-position-y: 7px;
}

.header__link {
    color: #FFFFFF;
}



.computers {}

.computers__subheading {
    max-width: 381px;
    margin: 0 auto;

    margin-bottom: 20px;
}

.computers__strong {
    color: #D41914;
}

.computers__text {
    max-width: 712px;
}



.pc {}

.pc__subheading {
    text-align: center;

    margin-bottom: 30px;
}

.pc__background {
    max-width: 451px;
    height: 235px;
    background-image: url(./../img/computers.png);
    background-repeat: no-repeat;
    /* 298px ну привет, background-position-x не работает */
    margin-left: 298px;
    background-size: cover;

    margin-bottom: 30px;
}

.pc__text {}




.ram {}

.ram__background {
    max-width: 100%;
    height: 262px;
    background-image: url(./../img/scheme.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 25px;
}

.ram__subheading {
    text-align: center;

    margin-bottom: 12px;
}

.ram__list {
    margin-bottom: 39px;
}

.ram__item {
    line-height: 18px;
    padding-left: 28px;
    margin-left: 38px;
    background-repeat: no-repeat;

    margin-bottom: 14px;
}

.ram__item:nth-child(1) {
    background-image: url(./../img/terminal-square.svg);
    background-position-y: -3px;
}

.ram__item:nth-child(2) {
    background-image: url(./../img/terminal.svg);
    background-position-y: -2px;
}

.ram__item:nth-child(3) {
    background-image: url(./../img/calculator.svg);
    background-position-y: -3px;
}

.ram__item:last-child {
    margin-bottom: 0;
}


.ram__text {
    max-width: 708px;
}