@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mako&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');



.wrapper {
    /* padding: 12px 0 30px; */
}


body {
    background-color: #212121;
}

.container {
    max-width: 748px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}


.subheading {
    font-family: 'Oxanium', sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 139%;

    color: #FFFFFF;
}

.text {
    font-family: 'Mako', sans-serif;
    line-height: 150%;
    color: #FFFFFF;
}



.page {}

.page__computers {
    background-color: #333333;
    padding: 40px 0 40px;
}

.page__pc {
    padding: 40px 0;
}

.page__ram {
    background-color: #333333;
    padding: 40px 0 35px;
}


/* position 86px ? */
.header {
    padding: 12px 0 13px;

}

.header__wrap-logo {
    font-family: 'Oxanium', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    position: relative;
}

.header__wrap-logo::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 87px;

    width: 19px;
    height: 11px;
    background: url('./../img/arrow.svg') 0 0 / contain no-repeat;
}

.header__link {
    color: #FFFFFF;
}



.computers {}

.computers__subheading {
    max-width: 381px;
    margin: 0 auto;

    margin-bottom: 20px;
}

.computers__strong {
    color: #D41914;
}

.computers__text {
    max-width: 712px;
}



.pc {}

.pc__subheading {
    text-align: center;

    margin-bottom: 30px;
}

.pc__background {
    max-width: 451px;
    height: 235px;
    background-image: url(./../img/computers.png);
    background-repeat: no-repeat;
    /* 298px ну привет */
    margin-left: 298px;
    background-size: cover;

    margin-bottom: 30px;
}

.pc__text {}




.ram {}

.ram__background {
    max-width: 100%;
    height: 262px;
    background-image: url(./../img/scheme.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 25px;
}

.ram__subheading {
    text-align: center;

    margin-bottom: 12px;
}

.ram__list {
    margin-bottom: 39px;
}

.ram__item {
    position: relative;

    line-height: 18px;

    padding-left: 28px;
    margin-left: 38px;

    margin-bottom: 14px;
}


.ram__item:nth-child(1) {
    position: absolut;
    top: 0;
    left: 0;

    width: 24px;
    height: 24px;
    background: url(./../img/terminal-square.svg) 0 0 / contain no-repeat;
}

.ram__item:nth-child(2) {
    position: absolut;
    top: 0;
    left: 0;


    background: url(./../img/terminal.svg) 0 0 / contain no-repeat;
}

.ram__item:nth-child(3) {
    position: absolut;
    top: 0;
    left: 0;

    background: url(./../img/calculator.svg) 0 0 / contain no-repeat;
}

.ram__item:last-child {
    margin-bottom: 0;
}

.ram__text {
    max-width: 708px;
}



.footer {
    background-color: #FFFFFF;

    padding: 30px 0 26px;
}

.footer__border {
    border-top: 1px solid #2D2D2D;
}

.footer__copy {
    font-family: 'Heebo', sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #333333;

    margin-left: 324px;
    padding-top: 3px;

    position: relative;
}

.footer__copy::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 150px;

    width: 15px;
    height: 22px;
    background: url('./../img/figma-logo.png') 0 0 / contain no-repeat;
}